<div class="container">
  <h2 *ngIf="user" class="text-center">
    Edit details of {{ user | fullname }}
  </h2>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input
            formControlName="firstname"
            type="text"
            id="firstname"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input
            formControlName="lastname"
            type="text"
            id="lastname"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input
            [readonly]="true"
            formControlName="email"
            type="email"
            id="email"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="phone">Phone No</label>
          <input
            formControlName="phone"
            type="text"
            id="phone"
            class="form-control"
          />
        </div>
        <span class="help-block" *ngIf="!editForm.get('phone').valid">
          Enter valid phone number</span
        >

        <div class="form-group">
          <label for="address">Address</label>
          <input
            formControlName="address"
            type="text"
            id="address"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="gender">Gender</label>
          <select formControlName="gender" class="form-control">
            <option>male</option>
            <option>female</option>
          </select>
        </div>

        <div class="form-group">
          <label for="birthday">Birthday:</label>
          <input
            *ngIf="user"
            bsDatepicker
            class="form-control"
            formControlName="dob"
            type="text"
            id="birthday"
            [(bsValue)]="date"
            name="birthday"
          />
        </div>

        <button class="btn btn-primary" type="submit">Save changes</button>
      </form>
    </div>
  </div>
</div>
